@import "src/index";

.form--label {

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 20px;

    &--item {
      margin: 6px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      position: relative;

      &--field {
        margin-right: 10px;
        opacity: 0;
        position: relative;
        z-index: 5;
      }

      &--text {
        width: 100%;
        cursor: pointer;

        &::after {
          content: "";
          width: 16px;
          height: 16px;
          border-radius: 100%;
          border: 1px solid #ADB5BD;
          position: absolute;
          top: 50%;
          left: 7.5px;
          transform: translate(-50%, -50%);
        }
      }

      &--field:checked + .form--label__list--item--text::before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 100%;
        box-shadow: 0.62px 0.79px 10px rgba(0,0,0,0.3);
        position: absolute;
        top: 50%;
        left: 7.5px;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        z-index: 5;
      }

      &--field:checked + .form--label__list--item--text::after {
        background-color: $secondary-color;
        border: none;
        width: 17px;
        height: 17px;
      }
    }
  }
}
