@import "src/index";

.modal {
  background-color: $bg-color;
  border-radius: 4px;
  min-width: 395px;

  &__head {
    padding: 12px 18px 17px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 24px;

    &__close {
      width: 12px;
      height: 12px;
      position: relative;

      &--item {
        width: 12px;
        height: 3px;
        background-color: #7B7B7B;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;

        &:nth-child(1) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:nth-child(2) {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }

  &__body {
    padding: 17px 0;
    border-bottom: 1px solid #ECEEF1;
    border-top: 1px solid #ECEEF1;
    display: flex;
    align-items: center;
    justify-content: center;

    &--title {
      color: #4C4B4B;
      font-size: 16px;
    }
  }

  &__footer {
    padding: 16px 17px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &--btn {
      font-size: 16px;

      &.btn {
        min-width: max-content;
        padding: 8px 18px;
      }
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
