@import "src/index";

.info {
  padding-top: 145px;
  padding-bottom: 140px;

  @media screen and (max-width: $md-tablet) {
    padding: 120px 0;
  }

  @media screen and (max-width: $md-mobile) {
    padding: 47.5px 0;
  }

  &--title {
    margin-bottom: 57px;
  }

  &__block {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    @media screen and (max-width: $md-mobile) {
      flex-direction: column;
      align-items: center;
    }

    &--img {
      width: 340px;
      height: 285px;
      @media screen and (max-width: $md-tablet) {
        max-width: 247px;
        max-height: 207px;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      @media screen and (max-width: $md-mobile) {
        margin-top: 33px;
      }

      &--title {
        font-size: 24px;
        font-weight: 400;
      }

      &--text {
        max-width: 550px;
        margin: 20px 0;

        @media screen and (max-width: $md-tablet) {
          max-width: 430px;
        }
      }

      & .btn--flat {

        @media screen and (max-width: $md-mobile) {
          margin: 0 auto;
        }
      }
    }
  }
}
