@import "src/index";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 0;
  border-top: 1px solid #ECECEC;

  &--title {
    font-size: 16px;
    font-weight: 400;
    color: #4C4B4B;
  }
}
