@import "src/index";

.users {
  background-color: $bg-color-2;
  padding: 145px 0;

  @media screen and (max-width: $md-tablet) {
    padding: 120px 0;
  }

  @media screen and (max-width: $md-mobile) {
    padding: 47.5px 0;
  }

  &--title {
    margin: 0 0 17px;
  }

  &--subtitle {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 70px;
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 90px 115px;
    align-items: center;

    @media screen and (max-width: $md-tablet) {
      grid-gap: 28px 42px;
    }

    @media screen and (max-width: $md-mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &--btn {
    margin-top: 30px;
  }
}
