@import "src/index";

.page--404 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-color;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__img {
    background-color: $primary-color;
    border-radius: 100%;

    &--item {
      transform: scale(1.1) translate(-10%, -15%);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &--title {
      font-size: 240px;
      color: $primary-color;
    }

    &--text {
      text-transform: uppercase;
      font-size: 20px;
    }

    & .link {
      margin-top: 60px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      color: #212529;
      padding: 10px 15px;
      box-sizing: border-box;
      position: relative;
      width: max-content;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        height: 100%;
        width: 0;
        transition: .4s;
      }

      &:hover {
        color: #fff;

        &::after {
          background-color: $primary-color;
          border-radius: 4px;
          width: 100%;
        }
      }
    }

    &--arrow {
      width: 16px;
      height: 16px;

      margin-left: 20px;
    }
  }
}
